.body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    height:100%;
    background-color: rgb(46,130,227);
}

.header {
    display: flex;
    flex-direction: row;
    width: auto;
    height:120px;
    margin: 5px;
    padding:20px;
    background-color: white;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    img {
        height: 100px;
        width: auto;
    }
    h1 {
        color: rgb(31, 84, 172);
    }
}

.section{
    width: auto;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    border-style: dashed;
    border-color: white;
    color: white;
    h3 {
        text-align: center;
        overflow: auto;
    }
}

.dropFileOver{
    background-color: rgb(31, 84, 172);
    transition: 0.5s;
}

// .section:hover{
//     background-color: rgb(31, 84, 172);
// }



.footer{
    width: auto;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-content:center;
    justify-content:space-between;
    margin: 5px;
    padding: 10px;
    input {
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: medium;
        height: 30px;
        width: 100px;
        border-radius: 15px;
        padding: 5px;
        color: white;
        background-color: rgb(31, 84, 172);
        border-color: rgb(31, 84, 172);
        cursor: pointer;
    }
}