<div class="body">
  <p-toast></p-toast>
  <div class="header">
    <div>
      <img src="./assets/FTPexpress_logo.jpg" alt="Logo FTPxpress"/>
    </div>
    <h1>FTP-Xpress</h1>
  </div>
  <div class="section" #dropZone [ngClass]="dropFileOver ? 'dropFileOver' : '' ">  
      <h3>{{dropZoneComment}}</h3>
  </div>
  <div class="footer">
    <input *ngIf="readyTransfert" id="b-transfert" type="bouton" value="Transférer" (click)="clickTransfert()">
    <input id="b-quit" type="bouton" value="Quitter" (click)="clickQuit()">
  </div>
</div>
<router-outlet></router-outlet>
